@import "variables.scss";

.sc-search-result-area {
  background-color: azure;
  height: 100%;
  width: 100%;
}

.sc-search-result {
  
}

.sc-search-result-metadata {
  float: left;
  display: inline-block;
  padding: 40px;
  width: calc(100% - 300px);
}

.sc-selected-object-metadata {
  padding: 15px 25px;
  
  label {
    font-size: $fs-label;
    text-overflow: ellipsis;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  label.sub {
    font-size: $fs-paragraph;
  }
}

.sc-selected-object {
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 3px;
  margin-bottom: 25px;
  border-radius: $rounded-corners;
//  box-shadow: rgba(0, 0, 0, 0.106863) 0px 3px 10px, rgba(0, 0, 0, 0.127451) 0px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 6px;
  border: $main-border;
}

.sc-selected-objects-sidebar {
  height: calc(100% - 95px);
  top: 95px;
  width: 400px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  float: right;
  right: 0px;
  position: fixed;
  padding: 20px 50px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.08431) 0px 4px 7px 0px;
  transition: All 0.5s cubic-bezier(0.06, 1.35, 0.6, 1.05);
  
  .options-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    margin-left: -50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    z-index: 2;
  }
  
  .options-inner {
    width: 292px;
    height: 10px;
    padding-top: 20px;
    border-top: 1px solid $main-border-color;
    margin-left: 30px;
  }
}

.sc-selected-objects-inner {
  overflow: auto;
  height: calc(100% - 128px);
}

.sc-selected-object-thumbnail {
  display: block;
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.sc-selected-object-thumbnail-wrapper {
  border-top-left-radius: $rounded-corners;
  border-top-right-radius: $rounded-corners;
  overflow: hidden;
}

#sc-search-field {
  position:relative;
  width: 770px;
  
  input[type=text] {
    height: 65px;
    width: 80%;
    border-top-left-radius: $rounded-corners;
    border-bottom-left-radius: $rounded-corners;
    outline: none;
    border: 1px solid #DFDFDF;
    padding: 25px 60px;
    font-size: $fs-label;
  }
  
  i.fa-search {
    position: absolute;
    left: 30px;
    top: 25px;
  }
  
  button {
    height: 65px;
    width: 20%;
    display: inline-block;
    float: right;
    background-color: #2196F3;
    border: none;
    color: #fff;
    border-top-right-radius: $rounded-corners;
    border-bottom-right-radius: $rounded-corners;
  }
}

.sc-search-result-area {
  
  .sc-search-result-thumbnail {
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    float: left;
  }
}


.sc-upload-area {
  margin-top: 15px;
  width: 770px;
  height: 300px;
  background-color: #D9DDE6;
  border-radius: $rounded-corners;
  overflow: hidden;
}


/* ----------------
 * SEARCH FIELD
 --------------- */




/* ----------------
 * RIGHT SIDEBAR
 * SCROLLBAR
 * (webkit)
 --------------- */
.sc-selected-objects-inner::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sc-selected-objects-inner::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

/* normal state for thumb */
.sc-selected-objects-inner::-webkit-scrollbar-thumb {
  background: #cecece;
  border: 0px none #ffffff;
  border-radius: 50px;
}

/* On hover thumb color */
.sc-selected-objects-inner::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}

/* normal state scroll background */
.sc-selected-objects-inner::-webkit-scrollbar-track {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

/* on hover scrollbar background */
.sc-selected-objects-inner::-webkit-scrollbar-track:hover {
  background: #fff;
}

.sc-selected-objects-inner::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
