@import "variables.scss";


.page-content-wrapper, page-main-content, .page-container {
  height: 100%;
}

.page-content-wrapper .page-main-content {
  height: 100%;
}

.page-container {
  min-width: 1270px;
}


.sc-search-result {
  
  h1 {
    margin: 0;
	font-size: 22px;
    font-weight: 500;
  }
  
  h2 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 0;
  }
  
}

.sc-search-result-options {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: 20px;
  
  
  button.select {
    background-color: $main-accent-color;
    color: #fff;
    border: 2px solid $main-accent-color;
    padding: 5px 15px;
    border-radius: 4px;
  }
  
  button.cancel {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 4px;
  }
}

.sc-search-result-metadata {
  float: left;
  display: inline-block;
  padding: 25px 25px 25px 35px;
  width: calc(100% - 300px);
}

.sc-selected-object-metadata {
  padding: 15px 25px;
  
  label {
    font-size: $fs-label;
    text-overflow: ellipsis;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  label.sub {
    font-size: $fs-paragraph;
  }
  
  .btn-card-thumbnail-delete {
    top: 0;
    right: 0;
    margin: 0;
    display: none;
    text-shadow: none;
    color: #000000;
  }
  
}


.btn-card-thumbnail-delete:hover {
    cursor: pointer;
  }
  
.sc-selected-object:hover {
//  cursor: move;
  
  .btn-card-thumbnail-delete {
    display: block;
  }
}



.sc-selected-object {
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 3px;
  margin-bottom: 25px;
  border-radius: $rounded-corners;
//  box-shadow: rgba(0, 0, 0, 0.106863) 0px 3px 10px, rgba(0, 0, 0, 0.127451) 0px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 6px;
  border: $main-border;
  position: relative;
}

.sc-selected-objects-sidebar {
  min-height: 500px;
  height: 100%;
  max-width: 400px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  float: right;
  right: 0px;
  padding: 20px 50px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.08431) 0px 4px 7px 0px;
  transition: All 0.5s cubic-bezier(0.06, 1.35, 0.6, 1.05);
  position: relative;
  
  .options-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    margin-left: -50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    z-index: 2;
  }
  
  .options-inner {
    width: 292px;
    height: 10px;
    padding-top: 20px;
    border-top: 1px solid $main-border-color;
    margin-left: 30px;
  }
}

.sc-selected-objects-inner {
  overflow: auto;
  height: calc(100% - 128px);
}

.sc-selected-object-thumbnail {
  display: block;
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.sc-selected-object-thumbnail-wrapper {
  border-top-left-radius: $rounded-corners;
  border-top-right-radius: $rounded-corners;
  overflow: hidden;
}

.sc-search-area {
  display: block;
  margin-top: 90px;
}

#sc-search-field {
  margin: 0 auto;
  position:relative;
  max-width: 650px;
  width: 100%;
  
  input[type=text] {
    height: 65px;
    width: 80%;
    border-top-left-radius: $rounded-corners;
    border-bottom-left-radius: $rounded-corners;
    outline: none;
    border: 1px solid #DFDFDF;
    padding: 25px 60px;
    font-size: $fs-label;
  }
  
  i.fa-search {
    position: absolute;
    left: 30px;
    top: 25px;
    color: #a5a5a5;
  }
  
  button {
    height: 65px;
    width: 20%;
    display: inline-block;
    float: right;
    background-color: #2196F3;
    border: none;
    color: #fff;
    border-top-right-radius: $rounded-corners;
    border-bottom-right-radius: $rounded-corners;
  }
}

.sc-search-result-area {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

  .sc-search-result-thumbnail {
    width: 285px;
    height: 300px;
    display: block;
    object-fit: cover;
    float: left;
  }

.sc-object-select-area {
  margin: 15px auto;
  max-width: 650px;
  width: 100%;
  height: 300px;
  background-color: #D9DDE6;
  border-radius: $rounded-corners;
  overflow: hidden;
  position: relative;
}

.sc-drop-media {
  border: 5px dashed #7c8394;
}

.sc-object-placeholder {
  color: white;
  margin: 37px auto;
  max-width: 400px;
  width: 50%;
  height: 75%;
  text-align: center;
  position: relative;
  
  img {
    margin-top: 20px;
    width: 160px;
    height: 98px;
  }
  
  p {
    margin-top: 10px;
    font-size: 20px;
    color: #a3a9b7;
    
    span {
      font-size: 17px;
    }
  }
}

.sc-object-placeholder-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.sc-custom-image-area {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.sc-selected-objected-metadata-link {
  word-break: break-all;
}

/* ----------------
 * SELECTED OBJECTS LIST VIEW
 --------------- */

.sc-list-selected-objects > div > {
  
  .sc-selected-object {
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.sc-list-selected-objects > div > * {
  display: block;
  height: 55px;
  


  .sc-selected-object-thumbnail-wrapper {
    width: 70px;
    height: 55px;
    float: left;
    display: inline-block;
  }

  .sc-selected-object-thumbnail {
    height: 55px;
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  
  .sc-selected-object-thumbnail-wrapper {
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  
  .sc-selected-object-metadata {
    float: left;
    /* 70px is thumbnail size */
    width: calc(100% - 70px);
    padding: 10px 8px 0 8px;

    label {
      font-size: 12px;
      margin: 0;
    }

    label:first-child {
      margin-bottom: -5px;
      cursor: move;
    }

    label.sc-sub {
      color: #848484;
      cursor: move;
    }
  }
  
  .sc-selected-object-metadata-link {
    float: left;
    //    text-overflow: initial;
  }

  .link {
    position: absolute;
    top: 0;
    left: 70px;
  }

}
  

/* ----------------
 * SELECTED OBJECT CONTAINER
 --------------- */

.sc-selected-objects-container {
  height: 100%;
  min-height: 500px;
  background-color: #fff;
  max-width: 400px;
}



/* ----------------
 * RIGHT SIDEBAR
 * SCROLLBAR
 * (webkit)
 --------------- */
.sc-selected-objects-inner::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sc-selected-objects-inner::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

/* normal state for thumb */
.sc-selected-objects-inner::-webkit-scrollbar-thumb {
  background: #cecece;
  border: 0px none #ffffff;
  border-radius: 50px;
}

/* On hover thumb color */
.sc-selected-objects-inner::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}

/* normal state scroll background */
.sc-selected-objects-inner::-webkit-scrollbar-track {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

/* on hover scrollbar background */
.sc-selected-objects-inner::-webkit-scrollbar-track:hover {
  background: #fff;
}

.sc-selected-objects-inner::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
