/* -------------------------------------
 * VARIABLES
 *
 * Main & accent colors, font & fsize 
 ------------------------------------ */

/* ----------------
 * COLORS
 --------------- */
$site-bg-color: #e9ecf3;
$main-text-color: #333;
$main-subtitle-color: #999;
$main-accent-color: #42a5f5;
$dark-accent-color: #1E88E5;
$light-accent-color: #64B5F6;
$main-border-color: #e3e3e3;
$highlight-hover-bg: #f2faff;
$caution-color: #F44336;
$dark-caution-color: #E53935;

/* ----------------
 * FONT
 --------------- */
/* fs = font-size */
$fs-main-headline: 24px;
$fs-paragraph: 14px;
$fs-nav-menu: 16px;
$fs-label: 16px;

/* ff = font-family */
$ff-main: 'Work Sans', Arial, 'Sans-Serif';

/* fc = font-color */
$fc-button: #fff;

/* ----------------
 * ELEMENTS
 --------------- */
$main-nav-width: 250px;
$rounded-corners: 4px;
$sharp-corners: 2px;
$main-border: 1px solid #e3e3e3;
$top-nav-height: 75px;
$footer-height: 30px;
/* ----------------
 * PREVIEW TOOL
 --------------- */
$preview-btn-size: 65px;
$preview-btn-mobile-size: 60px;
$preview-right: 25px;
$preview-bottom: 25px;
$preview-mobile-right: 15px;
$preview-mobile-bottom: 15px;

