<div *ngIf = "showComponent">

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h1>Market: {{store.marketName}}
      <small>Description: {{store.marketDescription}}</small>
      <!--      <small>Adjust the feed to customize and prioritize the games to be shown in the ad</small>-->
    </h1>
  </div>
  <!-- END PAGE TITLE -->

  <div class="page-btn-container">  <!--*ngIf="!storeservice.createdAdDiv"-->
    <button type="submit" (click)="saveObjects()" class="btn-reg">Save</button>
  </div>

</div>
<!-- END PAGE HEAD-->





<div>
  <input type="text" [(ngModel)]="objectId" />
  <button (click) = "getData();">Get data</button>
  <div *ngIf="showData">
  <div>
    <img src="{{objectData.titlepicture.href}}">
  </div>
  <div>
    <label for="cityname">City name:</label>
    <span id="cityname">{{objectData.address.geoHierarchy.city.name}}</span>
    <label for="quartername">Quarter name:</label>
    <span id="quartername">{{objectData.address.geoHierarchy.quarter.name}}</span>
    <label for="regionname">Region name:</label>
    <span id="regionname">{{objectData.address.geoHierarchy.region.name}}</span>
    <label for="postcode">Post code:</label>
    <span id="postcode">{{objectData.address.postcode}}</span>
    <label for="price">Price:</label>
    <span id="price">{{objectData.price.value}}</span>
    <label for="currency">Currency</label>
    <span id="currency">{{objectData.price.currency}}</span>
    <label for="livingspace">Livingspace</label>
    <span id="livingspace">{{objectData.livingspace}}</span>
  </div>
    <button (click)="selectObject();">Select</button>
  </div>
</div>

<div [dragula]='"bag-one"' [dragulaModel]='selectedDataContent' *ngIf="selectedDataContent.length > 0">
    <div style="margin-left: 400px; border: solid" *ngFor="let object of selectedDataContent; let i = index" >

        <img src="{{object.titlepicture.href}}">
        <label for="cityname">City name:</label>
        <span id="cityname">{{object.address.geoHierarchy.city.name}}</span>
        <label for="quartername">Quarter name:</label>
        <span id="quartername">{{object.address.geoHierarchy.quarter.name}}</span>
        <label for="regionname">Region name:</label>
        <span id="regionname">{{object.address.geoHierarchy.region.name}}</span>
        <label for="postcode">Post code:</label>
        <span id="postcode">{{object.address.postcode}}</span>
        <label for="price">Price:</label>
        <span id="price">{{object.price.value}}</span>
        <label for="currency">Currency</label>
        <span id="currency">{{object.price.currency}}</span>
        <label for="livingspace">Livingspace</label>
        <span id="livingspace">{{object.livingspace}}</span>

      <button (click)="removeObject(i)">remove</button>
      </div>
    </div>

</div>
